@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  /* border: 1px solid red; */
  text-decoration: none;
}

.white {
  color: white;
}

.nopacity{
  opacity: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.the404 {
  margin: 175px auto 0 auto;
  width: fit-content;
  padding: 10px;
  height: 70vh;
  text-align: center;
  color: white;
  background-color: aliceblue;
}

.the404 > img {
  height: 70%;
  width: auto;
  margin: 0;
}

.the404 > h1 {
  color: black;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* font-family: 'Libre Baskerville', serif; */
  font-family: "Poppins", serif;
  position: relative;
  /* background-image: url("../public/images/flowerback.webp"); */
}

.bg-color {
  height: 100%;
  width: 100%;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  animation: animate 30s infinite;
  opacity: 0.5;
  position: absolute;
}

footer {
  color: white;
  position: relative;
}

header {
  position: absolute;
}

.name {
  font-size: 5rem;
  color: transparent;
  width: fit-content;
  /* background-image: url("../public/images/flower3.png"); */
  background-color: white;
  background-size: contain;
  background-clip: text;
}

.about-name{
  display: none;
}

.about-main {
  display: flex;
  padding: 2rem;
  align-items: center;
  margin-top: 90px;
  overflow: hidden;
  justify-content: space-between;
  transition: 1000ms ease-in-out
}

#about-bio {
  width: 50%;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  background-color: aliceblue;
  z-index: 1;
  box-shadow: 4px 4px 18px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  transform:translateX(1300px);
  transition: 500ms;
}

.bio-text {
  font-size: 1rem;
}

.home-main {
  height: 100%;
  min-height: 500px;
  min-width: 100vw;
  display: flex;
  position: absolute;
  z-index: 2;
  overflow: hidden;
}

.chorale {
  position: absolute;
  width: 100vw;
  height: 110vh;
  object-fit: cover;
  z-index: 1;
  top: -56px;
}

.mobile-landing-bg{
  position: absolute;
  width: 100vw;
  height: 110vh;
  object-fit: cover;
  z-index: 1;
  top: -56px;
  display: none
}

#welcome {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 0 0 2px black;
  font-size: 100px;
  z-index: 3;
  margin: 0;
  color: white;
}

.welcome-btn {
  position: absolute;
  bottom: 35%;
  height: 19vw;
  width: 25vw;
  z-index: 3;
  font-size: 48px;
  color: rgb(255, 255, 255);
  border-radius: 25px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  background-color: black;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, .5);

}

.welcome-btn:hover .welcome-btn-text {
  color: transparent;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  animation: animate 5s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: none;
  transition: 300ms;
}

.welcome-btn-text {
  opacity: 1;
  width: fit-content;
  margin: 0 auto;
  font-weight: 900;
  text-shadow: 0 0 2px black;
}

.code-enter {
  left: 20%;
  /* background: url("../public/images/Art_Collection_Psylingual.jpeg"); */
  background-size: contain;
}

.music-enter {
  right: 20%;
  /* background-image: url("https://res.cloudinary.com/dsvcyich1/image/upload/v1693606768/FlowChart_sngysi.png"); */
  /* background: url("../public/images/Art_Collection_Psylingual.jpeg"); */
  transform: rotateY(180deg);
  background-size: contain;
}

.music-enter > p {
  transform: rotateY(180deg);
}

h2 {
  font-size: 48px;
}

.gif-ctr {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 40%;
  padding: 0;
  margin: 0;
  transition: margin-left 300ms;
}

.gif {
  width: 75%;
  height: auto;
  object-fit: cover;
  margin: 0;
  border-radius: 50%;
  transform: translateX(-1000px);
  box-shadow: 4px 4px 18px 2px rgba(0, 0, 0, 0.5);
  transition: 500ms;
}

.headshot {
  border-radius: 50%;
  margin-right: 5%;
}

.skills-ctr {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.skill-card {
  display: inline;
  min-width: 100px;
  min-height: 85px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 10px;
  padding: 2px;
}

.skill-logo {
  height: 40px;
  width: auto;
  margin: auto;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0));
  transition: 500ms;
}

.shrunk{
  height: 0px;
  width: 0px;
}

.skill-card:hover h4 {
  box-shadow: 0px 1px black;
  transition: 500ms;
}
.skill-card:hover .skill-logo {
  transition: 500ms;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
  animation: rotation 1s linear infinite;
}
.skill-card > h4 {
  box-shadow: none;
  display: inline;
  color: black;
  width: fit-content;
  margin: 8px auto;
  transition: 500ms;
}

.far-left{
  margin-left: -700px;
}
.far-right{
  margin-left: 2000px;
}

.welcome-bg {
  position: absolute;
  top: 0;
  height: 100vh;
  min-width: 100vw;
  background-size: cover;
  z-index: 3;
  transition: 500ms;
  background: linear-gradient(
    217deg,
    rgba(255, 0, 0, 1),
    rgb(98, 0, 255) 70.71%
  );
  animation: animate 18s infinite;
  opacity: 1;
}

.welcome-msg {
  text-align: center;
  margin: 36vh 2vw;
  color: white;
  font-size: 72px;
}
.welcome-msg>span{
  font-size: 42px;
  font-style: italic;
}
.link {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  animation: animate 5s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  transition: 300ms;
  color: white;
}

.works {
  color: white;
}

.works:hover {
  color: transparent;
  text-decoration: none;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  animation: 5s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
}

.link:hover {
  color: transparent;
  transition: 400ms;
}

.here {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  animation: animate 10s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: none;
}


@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

.intro-rotation{
  animation: rotation .5s;
}

@keyframes rotation {
  0%{
    rotate: 0px;
  }
  100% {
    rotate: 359deg;
  }
}


@media screen and (max-width: 1000px) {
  .about-main {
    flex-direction: column;
    margin-top: 70px;
  }
  #about-bio {
    width: 75%;
  }
  .about-name{
    display: block;
    text-align: center;
    line-height: 80px;
  }

  .gif-ctr {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
  }
  header * {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  #about-bio {
    padding: 2px;
    font-size: 12px;
    width: 95%;
  }

  .bio-text {
    margin: 0;
    padding: 15px;
  }

  .code-enter {
    left: 5px;
  }
  .music-enter {
    right: 5px;
  }
  .welcome-btn {
    top: 40%;
    width: fit-content;
    background: black;
    font-size: 2rem;
  }

  #welcome {
    font-size: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .chorale{
    display: none
  }
  .mobile-landing-bg{
    display: block;
  }
  .welcome-msg {
    font-size: 2rem;
  }

}

/* //////////////////////////////////////////////////////////////////////Scroll Bar/////////// */
::-webkit-scrollbar {
  width: 0;
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  z-index: 100;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 5s linear infinite;
}

#progressbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}